<section class="database-add">
  <div class="form grid">
    <div class="form-container grid-12">
      <h3>Dados Pessoais</h3>
      <div class="grid">
        <div class="form-group grid-6">
          <input type="text" placeholder="Nome" [(ngModel)]="character.name">
        </div>
        <div class="form-group grid-3">
          <select aria-placeholder="sexo" [(ngModel)]="character.sex">
            <option value="M">Masculino</option>
            <option value="F">Feminino</option>
          </select>
        </div>
        <div class="form-group grid-3">
          <input type="number" min="0" placeholder="Nível" [(ngModel)]="character.level">
        </div>
        <div class="form-group grid-5">
          <input type="text" placeholder="Raça" [(ngModel)]="character.race">
        </div>
        <div class="form-group grid-5">
          <input type="text" placeholder="Classe" [(ngModel)]="character.class">
        </div>
        <div class="form-group unified-group grid-2">
          <div class="unified {{character.unified ? 'checked' : ''}}" (click)="character.unified = !character.unified">
          </div>
          <p>Unificado</p>
        </div>
      </div>
    </div>
    <div class="form-container grid-12">
      <h3>Atributos</h3>
      <div class="grid">
        <div class="form-group grid-2">
          <span class="brutal">Vida: </span>
          <input type="number" min="0" [(ngModel)]="character.life">
        </div>
        <div class="form-group grid-2">
          <span class="brutal">Mana: </span>
          <input type="number" min="0" [(ngModel)]="character.mana">
        </div>
        <div class="form-group grid-2">
          <span class="brutal">Força: </span>
          <input type="number" min="0" [(ngModel)]="character.strength">
        </div>
        <div class="form-group grid-2">
          <span class="brutal">Agilidade: </span>
          <input type="number" min="0" [(ngModel)]="character.agility">
        </div>
        <div class="form-group grid-2">
          <span class="brutal">Inteligência: </span>
          <input type="number" min="0" [(ngModel)]="character.intelligence">
        </div>
        <div class="form-group grid-2">
          <span class="brutal">Vontade: </span>
          <input type="number" min="0" [(ngModel)]="character.will">
        </div>
        <div class="form-group grid-3">
          <span class="brutal">Armadura: </span>
          <input type="number" min="0" [(ngModel)]="character.block.armorBonus" (change)="setArmorBonus($event)">
        </div>
        <div class="form-group grid-3">
          <span class="brutal">Bônus Bloqueio: </span>
          <input type="number" min="0" [(ngModel)]="character.block.blockBonus">
        </div>
        <div class="form-group grid-3">
          <span class="brutal">Bônus Esquiva: </span>
          <input type="number" min="0" [(ngModel)]="character.dodge.dodgeBonus">
        </div>
        <div class="form-group grid-3">
          <span class="brutal">Bônus Determinação: </span>
          <input type="number" min="0" [(ngModel)]="character.determination.determinationBonus">
        </div>
      </div>
    </div>
    <div class="form-container form-equipAbility grid-12 grid">
      <div class="form-column grid-6">
        <h3>
          <button class="form-column-btn" (click)="panelEdit = 'equipment'">+</button>
          Equipamentos ({{character.equipments.length}})
        </h3>
        <div class="scroll">
          <div class="form-column-item" *ngFor="let equip of character.equipments" (click)="setEquip(equip)">
            <div class="confirm-delete bordered" (click)="deleteEquip()"
              *ngIf="confirmEquip && equipSelected.name == equip.name">X</div>
            <h4 class="{{confirmEquip && equipSelected.name == equip.name ? 'toDelete' : ''}}">{{equip.name}}</h4>
            <p class="italic">"{{equip.description}}"</p>
            <p><span class="brutal">Preço: </span>{{equip.price}}</p>
            <p><span class="brutal">Tipo: </span>{{equip.type}}</p>
            <p><span class="brutal">Força necessária: </span>{{equip.fn}}</p>
            <p><span class="brutal">Dano: </span>{{equip.damage}}</p>
            <p><span class="brutal">Efeitos: </span>{{equip.effects}}</p>
          </div>
        </div>
      </div>

      <div class="form-column grid-6">
        <h3>
          <button class="form-column-btn" (click)="panelEdit = 'ability'">+</button>
          Habilidades ({{character.abilities.length}})
        </h3>
        <div class="scroll">
          <div class="form-column-item" *ngFor="let abili of character.abilities" (click)="setAbili(abili)">
            <div class="confirm-delete bordered" (click)="deleteAbili()"
              *ngIf="confirmAbili && abiliSelected.name == abili.name">X</div>
            <h4 class="{{confirmAbili && abiliSelected.name == abili.name ? 'toDelete' : ''}}">{{abili.name}}
              ({{abili.type}})</h4>
            <p><span class="brutal">Custo: </span>{{abili.cost}}</p>
            <p><span class="brutal">Dificuldade: </span>{{abili.diff}}</p>
            <p><span class="brutal">Requisitos: </span>{{abili.requisites}}</p>
            <p><span class="brutal">Descrição: </span>{{abili.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="database-add-selector grid">
    <div class="form-add-button bordered grid-6"><button (click)="addChar(true)">Adicionar personagem
        jogável</button></div>
    <div class="form-add-button bordered grid-6"><button (click)="addChar(false)">Adicionar inimigo</button></div>
  </div>
  <app-add-equip *ngIf="panelEdit == 'equipment'" (newEquipment)="addEquipment($event)"
    (cancel)="panelEdit ='none'"></app-add-equip>
  <app-add-ability *ngIf="panelEdit == 'ability'" (newAbility)="addAbility($event)"
    (cancel)="panelEdit = 'none'"></app-add-ability>
</section>