.database-list {
  height: 100%;

  .list {

    h3 {
      width: 100%;
      padding: 10px;
      border-bottom: 3px solid var(--brutal_black);
      background-color: var(--brutal_black);
      color: var(--brutal_white);
    }

    &:first-child {
      border-right: 3px solid var(--brutal_black);
    }

    &-container {

      /* ===== Scrollbar CSS ===== */
      /* Firefox */
      * {
        scrollbar-width: none;
        scrollbar-color: #000000 #ffffff;
      }

      /* Chrome, Edge, and Safari */
      *::-webkit-scrollbar {
        width: 10px;
      }

      *::-webkit-scrollbar-track {
        background: #ffffff;
      }

      *::-webkit-scrollbar-thumb {
        background-color: #000000;
        border-radius: 0px;
        border: 0px solid #ffffff;
      }

      .list-item {
        padding: 10px;
        border-bottom: 3px solid var(--brutal_black);
      }
    }
  }
}